streamlit
langchain
langchain-community
faiss-cpu
openai
huggingface_hub
pytesseract
python-dotenv
PyPDF2
python-docx
python-pptx
pandas
requests
beautifulsoup4
pillow
langchain==0.1.16
langchain-community==0.0.33
langchain-core==0.1.30
anthropic==0.6.7
